.news-enhancer-icon {
  background: white;
  border-radius: 30px;
}
.news-enhancer-info {
  color: black;
}

.news-enhancer-high {
  color: red;
}

.news-enhancer-mid {
  color: #F9690E;
}

.news-enhancer-low {
  color: #F5AB35;
  background: black;
}